@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* TODO resolve multiple definitions */
  font-family: 'Cormorant Garamond', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Work Sans Variable', sans-serif;
}
